body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0 ;
  padding: 0;
}

.tabs {
  flex-direction: column;
}
.input-container {
  align-items: center;
  margin-bottom: 20px;
}

.input-container label {
  margin-bottom: 1px;
  display: block;
  margin-left: -80%;
  font-size: smaller;
}

input, button.edit-account{
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.signup-button{
  margin-top: 70px;
  margin-bottom: 30px;
}

label[for="name"] {
  margin-left: -85%;
}

label[for="email"] {
  margin-left: -83%;
}

label[for="password-check"] {
  margin-left: -72%;
}

.login-p {
  font-size: x-small;
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.container{
  max-width: 300px !important;
  margin: 0 auto;
}

.tabs ul{
  display: flex;
  justify-content: center;
}
.tabs li {
  width: 100%;
}

.tabs li.is-active a {
  border-bottom-color: #000;
  color: #000;
}

.delete-account{
  background-color: inherit;
  margin-top: 20px;
}