<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./mypage-myinfo.css">
</head>
<body>
  <div><h1>마이페이지</h1></div>
  <div class="container">
    <ul class="tabs">
      <li class="tab-link" data-tab="tab-1">계정 정보</li>
      <li class="tab-link" data-tab="tab-2">주문내역</li>
    </ul>
  </div>

  <main>
    <div class="order-number">
      <div><h3>주문번호</h3><h5>`${}월에 결제하셨습니다.`</h5></div>
      <div><button class="order-edit">수정하기</button></div>
      <div><button class="order-delete">취소하기</button></div>
    </div>
    <div class="order-status">
      <div><img src="" /></div>
      <div><h3>상품명입니다.</h3><h5>RED/XL</h5><h5>1개</h5><h5>10000원</h5></div>
      <div><h5>배송준비중입니다.</h5></div>
    </div>
  </main>

  <div></div>
    <script src="./mypage-myinfo.js"></script>
</body>
</html>