#productDetail .container {
  width: 1200px;
  padding: 200px 0;
  margin: auto;
}

/* 상단 제품 정보 및 장바구니 담기 영역 시작 */

.product_info_top {
  margin-bottom: 133px;
  display: flex;
  gap: 63px;
  align-items: center;
}

.product_info_top .product_info_left {
}

.product_info_top .product_info_left .product_info_image {
  width: 585px;
  height: 585px;
  border-radius: 20px;
  background-color: #d2d2d2;
}

.product_info_top .product_info_left .product_info_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.product_info_top .product_info_right {
  flex: 1;
}

.product_info_top .product_info_right .product_info_name {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 13px;
}

.product_info_top .product_info_right .product_info_price {
  font-weight: 600;
  font-size: 30px;
}

.product_info_top .product_info_right .product_info_size_box {
  margin: 55px 0;
}

.product_info_top .product_info_right .product_info_size_box p {
  font-weight: 700;
  font-size: 20px;
}

.product_info_top
  .product_info_right
  .product_info_size_box
  .product_info_size {
  font-weight: 700;
  font-size: 18px;
}

.product_info_top
  .product_info_right
  .product_info_size_box
  .product_info_size_button_container {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 19px;
}

.product_info_top
  .product_info_right
  .product_info_size_box
  .product_info_size_button_container
  > button {
  width: 62px;
  height: 36px;
  border: 3px solid #000;
  background-color: transparent;
  font-weight: 700;
  border-radius: 10px;
}

.product_info_top
  .product_info_right
  .product_info_size_box
  .product_info_size_button_container
  > button.on {
  border: 3px solid #000;
  background-color: #000;
  color: #fff;
}

.product_info_top .product_info_right .product_info_right_bottom {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product_info_top .product_info_right .product_info_count_box {
  width: 130px;
  height: 52px;
  background-color: #e2e2e2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product_info_top .product_info_right .product_info_count_box > button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_info_top .product_info_right .product_info_count_box > button span {
  color: #e2e2e2;
  font-size: 20px;
}

.product_info_top
  .product_info_right
  .product_info_count_box
  .product_info_count_num {
  font-size: 20px;
  font-weight: 600;
}

.product_info_top .product_info_right .product_info_save_btn {
  padding: 16px;
  font-weight: 600;
  width: 150px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.product_info_top .product_info_right .product_info_order_btn {
  padding: 16px;
  font-weight: 600;
  width: 150px;
  border-radius: 50px;
  background-color: #e2e2e2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

/* 하단 제품 상세 정보 영역 시작 */

.product_info_bottom .product_info_detail_text_box {
  padding-bottom: 118px;
  border-bottom: 3px solid #e2e2e2;
}

.product_info_bottom
  .product_info_detail_text_box
  .product_info_detail_text_title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
}

.product_info_bottom
  .product_info_detail_text_box
  .product_info_detail_text_contents {
  letter-spacing: 0.08px;
  line-height: 30px;
  font-weight: 500;
  word-break: keep-all;
}

.product_info_bottom .product_info_review_box {
  padding-top: 75px;
}

.product_info_bottom .product_info_review_box .product_info_review_title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 90px;
}

.product_info_bottom .product_info_review_box .product_info_review_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 65px 30px;
}

.product_info_bottom
  .product_info_review_box
  .product_info_review_content
  .product_info_review_content_box
  .product_info_review_username {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product_info_bottom
  .product_info_review_box
  .product_info_review_content
  .product_info_review_content_box
  .product_info_review_date {
  color: #d2d2d2;
  font-weight: 600;
}

.product_info_bottom
  .product_info_review_box
  .product_info_review_content
  .product_info_review_content_box
  .product_info_review_text {
  margin-top: 20px;
}
