<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./mypage-myinfo.css">
</head>
<body>
  <div>
    <ul class="tabs">
        <li class="tab-link" data-tab="tab-1">계정 정보</li>
        <li class="tab-link" data-tab="tab-2">장바구니</li>
        <li class="tab-link" data-tab="tab-3">주문내역</li>
    </ul>
  </div>
  <div><h1>ooo님이 장바구니에 담은 상품들이에요.</h1></div>
  <div><h5>총 100000000원의 상품들을 담았어요.</h5></div>
  <div><button class="delete-list">전체 삭제</button></div>
  <div class="container">

    <main id="tab-2" class="tab-content">
      
    </main>
  </div>
    <script src="./mypage-myinfo.js"></script>
</body>
</html>