body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.input-container {
    align-items: center;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 1px;
    display: block;
    margin-left: -80%;
    font-size: smaller;
}

input, button.login-button {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.login-button{
    margin-bottom: 30px;
}

button.signup-button {
    background: none;
    border: none;
}
label[for="email"] {
    margin-left: -83%;
}

