<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header/header.css" type="text/css">
    <link rel="stylesheet" href="../reset.css" type="text/css">
    <link rel="stylesheet" href="adminpage_add.css" type="text/css">
    <script src="../header/header.js"></script>
    <script src="adminpage_add.js"></script>
    <script src="adminpage_image selection.js"></script>
    <title>adminpage</title>
</head>
<body>
    <object data="../header/header.html" width="100%" height="100%"></object> 

    <div class="admin-content">
        <h1>관리자 페이지</h1>
        <div class="admin-menu">
            <p class="list-btn">상품목록</p>
            <p class="add-btn">상품추가</p>
            <p>카테고리</p>
            <p>주문관리</p>
        </div>
        <div class="line">
            <p></p>
        </div>
        <div class="add-text">
            <h2>상품 추가</h2>
            <p>상품을 확인하고 추가할 수 있어요.</p>
        </div>
        <h3>상품사진</h3>
        <div class="add-text2">
            <input class="rectangle" id="imgInput" ></input>
            <button class="img-btn" onclick="openFile()">업로드</button>
        </div>
        <h3>상품명</h3>
        <input class="rectangle" placeholder="상품 이름을 입력해주세요."></input>
        <h3>상세 설명</h3>
        <textarea class="textarea" placeholder="상품 설명을 입력해주세요."></textarea>
        <h3>상품 가격</h3>
        <input class="rectangle" placeholder="상품 가격을 입력해주세요."></input>
        <h3 class="category">카테고리</h3>
        <div class="radio-group">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">남자</label>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">여자</label>
          </div>
        <input class="rectangle" id="checkvalue" placeholder="카테고리를 선택해주세요."></input>
        <div class="checkbox-container">
            <label>
                <input type="radio"  name="category" onclick="updateCategoryValue(this)"> 아우터
            </label>
            <label>
                <input type="radio"  name="category" onclick="updateCategoryValue(this)"> 상의
            </label>
            <label>
                <input type="radio"  name="category" onclick="updateCategoryValue(this)"> 하의
            </label>
            <label>
                <input type="radio"  name="category" onclick="updateCategoryValue(this)"> 기타
            </label>
        </div>
        <button id="save-btn">저장하기</button>
    </div>
</body>
</html>
