html, body {
  margin: 0;
    padding: 0;
}

.admin-content {
  margin: 0 280px;
}
.admin-menu {
  display: flex;
    gap: 124px;
}
.admin-menu p {
  color: #000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line p {
width: calc(100% - 0px);
  height: 2px;
  background-color: #bfbfb0fe;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 35px;
}
p.add-btn::after{
  content: "";
    display: block;
    width: 10%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -69%;
}
.admin-menu{
  position: relative;
}
.add-text h2{
  margin-bottom: 13px;
}
.add-text p{
  margin-bottom: 30px;
}
.add-text2 {
display: flex;
  align-items: center;
}
.rectangle {
width: calc(100% - 0px);
  height: 20px;
  border-radius: 15px;
  border: 2px solid #E2E2E2;
  background: #FFF;
  margin-bottom: 15px;
  margin-top: 20px;
    padding: 20px;
}
.textarea{
width: calc(100% - 0px);
  height: 150px;
  border-radius: 15px;
  border: 2px solid #E2E2E2;
  background: #FFF;
  margin-bottom: 15px;
  vertical-align: top;
  margin-top: 20px;
    padding: 20px;
}
.img-btn {
margin-left: 60px;
  width: 103px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #D2D2D2;
}

.checkbox-container {
width: calc(100% - 0px);
  height: 250px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #F2F2F2;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;

}
label {
margin-bottom: 20px;
}
#save-btn{
margin-left: 86%;
  width: 191px;
height: 50px;
flex-shrink: 0;
border-radius: 15px;
background: #D2D2D2;
display: none;
}

.category{
margin-bottom: 10px;
}
#imgInput {
margin-top: 15px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: 2px solid #E2E2E2;
  background: #FFF;
  width: calc(83% - 0px);
  height: 52px;
  flex-shrink: 0;
}
.page-btn {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

#addpageBtn::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -69%;
}






