<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./mypage-myinfo.css">
</head>
<body>
  <div><h1>마이페이지</h1></div>
  <div class="container">
    <ul class="tabs">
        <li class="tab-link" data-tab="tab-1">계정 정보</li>
        <li class="tab-link" data-tab="tab-2">장바구니</li>
        <li class="tab-link" data-tab="tab-3">주문내역</li>
    </ul>

    <main id="tab-1" class="tab-content">
      <div><h1>내 정보 수정</h1></div>
      <div><h3>내 정보를 수정할 수 있어요.</h3></div>
      <div><h3>이름</h3></div>
      <div><></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
    
</div>

  <div></div>
    <script src="./mypage-myinfo.js"></script>
</body>
</html>