<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css" type="text/css">
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="../header/header.css">
    <script src="../header/header.js"></script>
    <link rel="import" href="../header/header.html">
</head>
<body>
    <header>
        <!-- header.html의 내용 -->
        <link rel="import" href="../header/header.html">
    </header>
    
</script>
</body>
</html>