<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./mypage.css">
</head>
<body>
  <div><h1>마이페이지</h1></div>
  <div class="container">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">계정 정보</li>
        <li class="tab-link" data-tab="tab-2">장바구니</li>
        <li class="tab-link" data-tab="tab-3">주문내역</li>
    </ul>

    <div id="tab-1" class="tab-content current">계정정보</p></div>
    <div id="tab-2" class="tab-content"><p>장바구니</p></div>
    <div id="tab-3" class="tab-content"><p>주문내역</p></div>
</div>

  <div></div>
    <script src="./mypage.js"></script>
</body>
</html>