<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header/header.css" type="text/css">
    <link rel="stylesheet" href="../reset.css" type="text/css">
    <link rel="stylesheet" href="adminpage_list.css" type="text/css">
    <script src="../header/header.js"></script>
    <title>adminpage</title>
</head>
<body>
    <object data="../header/header.html" width="100%" height="100%"></object>
    <div class="admin-content">
        <h1>관리자 페이지</h1>
        <div class="admin-menu">
            <p class ="list-btn">상품목록</p>
            <p>상품추가</p>
            <p>카테고리</p>
            <p>주문관리</p>
        </div>
        <div class="line">
            <p></p>
        </div>
        <div class="product-list">
        <table border="1">
          <th>상품</th>
          <th>상품명</th>
          <th>카테고리</th>
          <th>가격</th>
          <th>편집 및 삭제</th>
          <tr>
              <td>1번째 칸</td>
              <td>2번째 칸</td>
              <td>3번째 칸</td>
              <td>4번째 칸</td>
              <td>5번째 칸</td>
          </tr>
        </div>
    </div>
</body>
</html>
