<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카테고리별 상품 리스트</title>
    <!-- 구글 폰트 -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="categoryProductsList.css" />
  </head>
  <body>
    <!-- 임의로 작성한 상단 헤더입니다. 이런식으로 a태그 작성해주시면 됩니다. -->
    <div class="navigation">
      <a href="/category/men">MEN</a>
      <a href="/category/women">WOMEN</a>
    </div>

    <div id="category_products_list">
      <!-- 하단 상품 내용 -->
      <div class="container">
        <!-- 상단 타이틀-->
        <div class="product_container">
          <div class="product_title_box">
            <h2 class="product_title"></h2>
            <p class="product_subtitle"></p>
          </div>

          <select id="category" name="category">
            <option value="">카테고리</option>
          </select>

          <!-- 상품 리스트 -->
          <ul class="products_list_wrapper">
            <!-- <li class="product">
              <div class="product_img">
                <img />
              </div>

              <div class="product_text_box">
                <h3 class="product_name"></h3>
                <p class="product_text"></p>

                <div class="product_text_box_bottom">
                  <p class="product_price"></p>
                  <p class="product_review">50개의 리뷰</p>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
        <!-- product_container end -->
      </div>
      <!-- container end -->
    </div>

    <!-- categoryProductsList.js -->
    <script src="categoryProductsList.js"></script>
  </body>
</html>
