<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/reset.css" type="text/css">
    <link rel="stylesheet" href="adminpage_order.css" type="text/css">
    <title>관리자 상품목록 페이지</title>
</head>

<body>
    <object data="../header/header.html" width="100%" height="100%"></object>
    <div class="admin-content">
        <h1>관리자 페이지</h1>
        <div class="admin-menu">
            <button class="page-btn" id="listpageBtn">상품목록</button>
            <button class="page-btn" id="addpageBtn">상품추가</button>
            <button class="page-btn" id="categoryBtn">카테고리</button>
            <button class="page-btn" id="management">주문관리</button>
        </div>
        <div class="line">
            <p></p>
        </div>
        <div class="product-list">
            <table border="1">
                <tbody class="orderList">
                  <th>번호</th>
                  <th>이름</th>
                  <th>주문상품</th>
                  <th>주문총액</th>
                  <th>배송상태</th>
                  <th>삭제</th>
                </tbody>
                </table>
        </div>
    </div>
    <script src="adminpage_order.js" type="module"></script>
    <script src="move.js"></script>
    <script src="/header/header.js"></script>
</body>

</html>
